@model BeautyMvc.Models.StyleModelIF

@{
    ViewData["Title"] = "CreateStyle";
}

<h1>CreateStyle</h1>

<h4>StyleModel</h4>
<hr />
<div class="row">
    <form enctype="multipart/form-data" asp-controller="Style" asp-action="CreateStyle">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="DesigStyle" class="control-label"></label>
                            <input asp-for="DesigStyle" class="form-control" size="70" />
                            <span asp-validation-for="DesigStyle" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>


            <div class="form-group">
                <label asp-for="DescriptStyle" class="control-label"></label>
                <textarea type="text" rows="5" cols="75" asp-for="DescriptStyle" class="form-control"></textarea>
                <span asp-validation-for="DescriptStyle" class="text-danger"></span>
            </div>

            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="CostStyle" class="control-label"></label>
                            <input asp-for="CostStyle" class="form-control" />
                            <span asp-validation-for="CostStyle" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="PriceTakeOffHair" class="control-label"></label>
                            <input asp-for="PriceTakeOffHair" class="form-control" />
                            <span asp-validation-for="PriceTakeOffHair" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="CostTouchUp" class="control-label"></label>
                            <input asp-for="CostTouchUp" class="form-control" />
                            <span asp-validation-for="CostTouchUp" class="text-danger"></span>
                        </div>
                    </td>

                    <td>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="HairProvStyle" /> @Html.DisplayNameFor(model => model.HairProvStyle)
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col">
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Picture" class="custom-file-input form-control" />
                        <label class="custom-file-label">Click here to select photo</label>
                    </div>
                </div>
            </div>

            <div>
                <img src="~/images/bb3e44e6-0ae0-4a70-8cc9-207bdf995e86-braid image2.jpg">
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>


    </form>
</div>


<div>
    <a asp-action="ListAllStyle">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            })
        })
    </script>
}
