@model BeautyMvc.Models.DiscountModel

@{
    ViewData["Title"] = "CreateDiscount";
}

<h1>CreateDiscount</h1>

<h4>DiscountModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDiscount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TitleDiscount" class="control-label"></label>
                <input asp-for="TitleDiscount" class="form-control" />
                <span asp-validation-for="TitleDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateDiscount" class="control-label"></label>
                <input asp-for="RateDiscount" class="form-control" />
                <span asp-validation-for="RateDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostDiscount" class="control-label"></label>
                <input asp-for="CostDiscount" class="form-control" />
                <span asp-validation-for="CostDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListAllDiscount">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
